<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rest.dao.CourseDao">
    <select id="queryCourseByStudentId" resultType="com.rest.entity.Course">
        SELECT *
        FROM standard_seminar_system.course
        WHERE
        course.id IN(
        SELECT course_id
        FROM klass_student
        WHERE
        klass_student.student_id=#{student_id}
        )
    </select>
    <select id="findAllCourse" resultType="com.rest.entity.Course">
        SELECT * FROM standard_seminar_system.course
    </select>
    <insert id="saveCourse" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO standard_seminar_system.course(teacher_id,course_name,introduction,presentation_percentage,question_percentage,report_percentage,team_start_time,team_end_time,team_main_course_id,seminar_main_course_id) VALUE(#{teacherId},#{courseName},#{introduction},#{presentationPercentage},#{questionPercentage},#{reportPercentage},#{teamStartTime},#{teamEndTime},#{teamMainCourseId},#{seminarMainCourseId})
    </insert>
    <select id="findById" parameterType="long" resultType="com.rest.entity.Course">
        SELECT * FROM standard_seminar_system.course WHERE id=#{id}
    </select>
    <delete id="deleteById" parameterType="long">
        DELETE FROM standard_seminar_system.course WHERE id=#{id}
    </delete>
    <select id="findByTeacherId" parameterType="long" resultType="com.rest.entity.Course">
        SELECT * FROM standard_seminar_system.course WHERE teacher_id=#{teacherId}
    </select>
    <update id="acceptMainTeamCourseId">
        UPDATE standard_seminar_system.course SET team_main_course_id=#{param1} WHERE id=#{param2}
    </update>
    <update id="acceptMainSeminarId">
        UPDATE standard_seminar_system.course SET seminar_main_course_id=#{mainCourseId} WHERE id=#{subCourseId}
    </update>
</mapper>