<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rest.dao.KlassDao">
    <select id="queryByCourseId" resultType="com.rest.entity.Klass">
        SELECT *
        FROM klass
        WHERE course_id=#{courseId}
    </select>
    <delete id="deleteById" parameterType="long">
        DELETE FROM klass WHERE id=#{id}
    </delete>
    <select id="findByCourseId" resultType="com.rest.entity.Klass" parameterType="long">
        SELECT * FROM klass WHERE course_id=#{courseId}
    </select>
    <insert id="saveKlass" parameterType="com.rest.entity.Klass">
        INSERT INTO klass(
        course_id,
        grade,
        klass_serial,
        klass_time,
        klass_location
        )
        VALUE(
        #{courseId},
        #{grade},
        #{klassSerial},
        #{klassTime},
        #{klassLocation}
        )
    </insert>
    <select id="findKlassById" parameterType="long" resultType="com.rest.entity.Klass">
        SELECT * FROM klass WHERE id=#{id}
    </select>
</mapper>