<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rest.dao.KlassStudentDao">
    <select id="findByTeam_id" parameterType="long" resultType="com.rest.entity.KlassStudent">
        SELECT * FROM standard_seminar_system.klass_student_table WHERE team_id=#{teamId}
    </select>
    <update id="quitTeam" parameterType="long">
        UPDATE standard_seminar_system.klass_student_table SET team_id=0 WHERE student_id=#{studentId}
    </update>
    <select id="findByStudent_id" resultType="com.rest.entity.KlassStudent">
        SELECT * FROM standard_seminar_system.klass_student_table WHERE student_id=#{studentId}
    </select>
    <update id="updateTeam">
        UPDATE standard_seminar_system.klass_student_table SET team_id=#{param2} WHERE student_id=#{param1}
    </update>
</mapper>