<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rest.dao.MemberLimitStrategyDao">
    <select id="queryMemberLimit" resultType="com.rest.entity.MemberLimitStrategy">
        SELECT *
        FROM member_limit_strategy
        WHERE id=#{id}
    </select>

    <select id="queryMemberLimitStrategyById" resultType="com.rest.entity.MemberLimitStrategy" parameterType="Long">
        SELECT *
        FROM member_limit_strategy
        WHERE id=#{id}
    </select>

    <select id="queryAllMemberLimitStrategy" resultType="com.rest.entity.MemberLimitStrategy">
        SELECT *
        FROM member_limit_strategy
    </select>

    <insert id="insertMemberLimitStrategy" parameterType="Integer">
        INSERT INTO member_limit_strategy
        (min_member,
        max_member
        )VALUE
        (
        #{minMember},
        #{maxMember}
        )
    </insert>

</mapper>