<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rest.dao.QuestionDao">
    <insert id="saveQuestion" useGeneratedKeys="true" parameterType="com.rest.entity.Question" keyProperty="id">
        INSERT INTO question(klass_seminar_id,attendance_id,team_id,student_id,is_selected) VALUE (#{klassSeminarId},#{attendanceId},#{teamId},#{studentId},0)
    </insert>
    <update id="gradeQuestion">
        UPDATE question SET score=#{score} WHERE id=#{questionId}
    </update>
    <select id="findQuestionById" parameterType="long" resultType="com.rest.entity.Question">
        SELECT * FROM question WHERE id=#{questionId}
    </select>
    <select id="questionList" resultType="com.rest.entity.Question">
        SELECT * FROM question WHERE klass_seminar_id=#{klassSeminarId} AND attendance_id=#{attendanceId} AND is_selected<![CDATA[!= ]]>1
    </select>
    <update id="selectQuestion" parameterType="long">
        UPDATE question SET is_selected=1 WHERE id=#{questionId}
    </update>
    <select id="questionScores" resultType="double">
        SELECT score FROM question WHERE klass_seminar_id=#{KlassSeminarId} AND team_id=#{teamId}
    </select>
    <select id="questions" resultType="com.rest.entity.Question">
        SELECT * FROM question WHERE klass_seminar_id=#{klassSeminarId} AND attendance_id=#{attendanceId} AND is_selected=1
    </select>
    <delete id="deleteQuestionList">
        DELETE FROM question WHERE klass_seminar_id=#{klassSeminarId} AND attendance_Id=#{attendanceId} AND is_selected=0
    </delete>
</mapper>