<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rest.dao.RoundScoreDao">
    <select id="queryByRoundIdTeamId" resultType="com.rest.entity.RoundScore">
        SELECT *
        FROM standard_seminar_system.round_score
        WHERE
        round_id=#{roundId}
        AND
        team_id=#{teamId}
    </select>
    <select id="findRoundByRoundIdAndTeamId" parameterType="long" resultType="com.rest.entity.RoundScore">
        SELECT * FROM standard_seminar_system.round_score WHERE round_id=#{roundId} AND team_id=#{teamId}
    </select>
</mapper>