<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rest.dao.SeminarDao">
    <insert id="save" parameterType="com.rest.entity.Seminar" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO standard_seminar_system.seminar(course_id,round_id,seminar_name,introduction,max_team,is_visible,seminar_serial,enroll_start_time,enroll_end_time) VALUE(#{courseId},#{roundId},#{seminarName},#{introduction},#{maxTeam},#{isVisible},#{seminarSerial},#{enrollStartTime},#{enrollEndTime})
    </insert>
    <select id="findById" parameterType="long" resultType="com.rest.entity.Seminar">
        SELECT * FROM standard_seminar_system.seminar WHERE id=#{id}
    </select>
    <delete id="delete" parameterType="long">
        DELETE FROM standard_seminar_system.seminar WHERE id=#{id}
    </delete>
    <update id="updateSelective">
        UPDATE standard_seminar_system.seminar
        <set>
            <if test="param2!=null ">
                course_id=#{param2},
            </if>
            <if test="param3!=null ">
                round_id=#{param3},
            </if>
            <if test="param4!=null ">
                seminar_name=#{param4},
            </if>
            <if test="param5!=null ">
                introduction=#{param5},
            </if>
            <if test="param6!=null ">
                max_team=#{param6},
            </if>
            <if test="param7!=null ">
                is_visible=#{param7},
            </if>
            <if test="param8!=null ">
                seminar_serial=#{param8},
            </if>
            <if test="param9">
                enroll_start_time=#{param9},
            </if>
            <if test="param10!=null ">
                enroll_end_time=#{param10}
            </if>
        </set>
        WHERE id=#{param1}
    </update>
    <select id="findByRoundId" parameterType="long" resultType="com.rest.entity.Seminar">
        SELECT * FROM standard_seminar_system.seminar WHERE round_id=#{roundId}
    </select>
</mapper>