<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rest.dao.TeamStudentDao">
    <select id="findByStudentId" resultType="Long" parameterType="Long">
        SELECT team_id FROM standard_seminar_system.team_student WHERE student_id=#{studentId}
    </select>

    <insert id="batchInsertTeamStudent" >
        INSERT INTO standard_seminar_system.team_student(
        student_id,
        team_id
        )VALUE
        <foreach collection="list" item="teamStudent"  separator=",">
            (
            #{teamStudent.studentId},
            #{teamId}
            )
        </foreach>
    </insert>

    <select id="queryByTeamId" resultType="Long">
        SELECT student_id
        FROM standard_seminar_system.team_student
        WHERE team_id=#{teamId}
    </select>
    <delete id="deleteByTeamId" parameterType="long">
        DELETE FROM standard_seminar_system.team_student WHERE team_id=#{teamId}
    </delete>

    <delete id="deleteByStudentId" parameterType="long">
        DELETE FROM standard_seminar_system.team_student WHERE student_id=#{studentId}
    </delete>
    <select id="findByTeamId" parameterType="long" resultType="com.rest.entity.TeamStudent">
        SELECT * FROM standard_seminar_system.team_student WHERE team_id=#{teamId}
    </select>
</mapper>