<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rest.dao.TeamDao">
    <select id="queryAllTeam" resultType="com.rest.entity.Team">
        SELECT *
        FROM team
        WHERE
        course_id=#{courseId}
    </select>
    <select id="queryStudentNoTeam" resultType="com.rest.entity.Student">
        SELECT * FROM student
        WHERE id IN(
        SELECT student_id FROM klass_student
        WHERE course_id=#{courseId} AND student_id NOT IN(
        SELECT student_id FROM team_student
        WHERE team_id IN(
        SELECT team_id FROM team
        WHERE course_id=#{courseId})))
    </select>
    <insert id="createTeam" parameterType="com.rest.entity.Team">
        INSERT INTO team(
        klass_id,
        course_id,
        leader_id,
        team_name,
        team_serial,
        klass_serial,
        status
        )VALUE
        (
        #{klassId},
        #{courseId},
        #{leaderId},
        #{teamName},
        #{klassSerial},
        #{teamSerial},
        1
        )

    </insert>
    <insert id="addTeammate" parameterType="long">
        INSERT INTO team_student(
        team_id,
        student_id
        )VALUE
        (
        #{teamId},
        #{studentId}
        )
    </insert>
    <insert id="updateTeamValidApplication" parameterType="com.rest.entity.TeamValidApplication">
        INSERT INTO team_valid_application(
        team_id,
        teacher_id,
        status
        )VALUE
        (
        #{teamId},
        #{teacherId},
        1
        )ON DULPLICATE KEY UPDATE
        status=values(status)
    </insert>
    <insert id="updateKlassStudent" parameterType="com.rest.entity.KlassStudent">
         INSERT INTO klass_student(
        klass_id,
        student_id,
        course_id,
        team_id
        )VALUE
        (
        #{klassId},
        #{studentId}
        #{courseId},
        #{teamId}
        )ON DULPLICATE KEY UPDATE
        team_id=values(teamId)
    </insert>
    <update id="updateStatus">
        UPDATE team
        SET status=0
        WHERE id=#{id}
    </update>
    <select id="findById" parameterType="long" resultType="com.rest.entity.Team">
        SELECT * FROM team WHERE id=#{id}
    </select>
    <update id="setValid" parameterType="long">
        UPDATE team SET status=1 WHERE id=#{teamId}
    </update>
    <update id="updateInfo">
        UPDATE team
        <set>
            <if test="param2!=null ">
                team_name=#{param2},
            </if>
            <if test="param3!=null ">
                team_serial=#{param3}
            </if>
        </set>
        WHERE id=#{param1}
    </update>
    <delete id="deleteTeam" parameterType="long">
        DELETE FROM team WHERE id=#{id}
    </delete>
    <insert id="save" parameterType="com.rest.entity.Team" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO team(klass_id,course_id,leader_id,team_name,team_serial,status) VALUE (#{klassId},#{courseId},#{leaderId},#{teamName},#{teamSerial},1)
    </insert>
    <select id="findByCourseId" resultType="com.rest.entity.Team" parameterType="long">
        SELECT * FROM team WHERE course_id=#{CourseId}
    </select>
    <delete id="deleteTeamByCourseId" parameterType="long">
        DELETE FROM team WHERE course_id=#{courseId}
    </delete>
</mapper>