<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rest.dao.TeamValidApplicationDao">
    <insert id="saveTeamValidApplication" parameterType="com.rest.entity.TeamValidApplication">
        INSERT INTO team_valid_application
        (
        team_id,
        teacher_id,
        reason,
        status
        )VALUE
        (
        #{teamId},
        #{teacherId},
        #{reason},
        null
        )
    </insert>
    <insert id="insertTeamValidApplication" >
        INSERT INTO team_valid_application
        (team_id,
        teacher_id,
        status
        )VALUE
        ( #{teamId},
        #{teacherId},
        #{status}
        )
    </insert>

    <select id="queryAllTeamValidApplication" resultType="com.rest.entity.TeamValidApplication">
        SELECT *
        FROM team_valid_application
    </select>
</mapper>