<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rest.dao.TeamDao">
    <select id="queryAllTeam" resultType="com.rest.entity.Team">
        SELECT *
        FROM team
        WHERE
        course_id=#{course_id}
        GROUP BY klass_id
    </select>

    <select id="queryStudentNoTeam" resultType="com.rest.entity.Student">
        SELECT *
        FROM student,klass_student
        WHERE
        klass_student.team_id IS NULL
        AND
        student.id=klass_student.student_id
    </select>
    
    <insert id="createTeam" parameterType="com.rest.entity.Team">
        INSERT INTO team(
        klass_id,
        course_id,
        leader_id,
        team_name,
        team_serial
        )VALUE
        (
        #{klass_id},
        #{course_id},
        #{leader_id},
        #{team_name},
        #{team_serial}
        )

    </insert>

    <insert id="updateTeamValidApplication" parameterType="BigInteger">
        INSERT INTO team_valid_application(
        team_id,
        teacher_id,
        status
        )VALUE
        (
        #{team_id},
        #{teacher_id},
        0
        )ON DULPLICATE KEY UPDATE
        status=values(status)
    </insert>

    <insert id="updateKlassStudent" parameterType="BigInteger">
         INSERT INTO klass_student(
        team_id,
        klass_id,
        student_id,
        course_id
        )VALUE
        (
        #{team_id},
        #{klass_id}
        #{student_id},
        #{course_id}
        )ON DULPLICATE KEY UPDATE
        team_id=values(team_id)
    </insert>
    <select id="findById" parameterType="long" resultType="com.rest.entity.Team">
        SELECT * FROM standard_seminar_system.team WHERE id=#{id}
    </select>
    <update id="setValid" parameterType="long">
        UPDATE standard_seminar_system.team SET status=1 WHERE id=#{teamId}
    </update>
    <update id="updateInfo">
        UPDATE standard_seminar_system.team
        <set>
            <if test="param2!=null ">
                team_name=#{param2},
            </if>
            <if test="param3!=null ">
                team_serial=#{param3}
            </if>
        </set>
        WHERE id=#{param1}
    </update>
    <delete id="deleteTeam" parameterType="long">
        DELETE FROM standard_seminar_system.team WHERE id=#{id}
    </delete>
    <insert id="save" parameterType="com.rest.entity.Team" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO standard_seminar_system.team(klass_id,course_id,leader_id,team_name,team_serial,status) VALUE (#{klassId},#{courseId},#{leaderId},#{teamName},#{teamSerial},1)
    </insert>
    <select id="findByCourseId" resultType="com.rest.entity.Team" parameterType="long">
        SELECT * FROM standard_seminar_system.team WHERE course_id=#{CourseId}
    </select>

</mapper>